
    @font-face {
        font-family: 'Super Mario 256 Regular';
        font-style: normal;
        font-weight: normal;
        src: local('Super Mario 256 Regular'), url('../SuperMario256.woff') format('woff');
        }
        .main-header
        {
            font-family: "Super Mario 256 Regular";
        }
        .notFound 
        {
            text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 60px;
        }
